@import "~antd/dist/antd.css";
$hoverColor: #575d69;
.App {
  top: 0;
  left: 0;
  text-align: center;
  background-color: #282c34;
  min-width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
span {
  font-size: 14px;
}
.error-msg {
  position: absolute;
  height: 16px;
  line-height: 16px;
  margin-bottom: 4px;
  font-size: 14px;
  color: red;
  right: 12px;
  bottom: 32px;
}
.glabal-margin {
  margin: 4px 12px;
}

button,
input,
.ant-input-affix-wrapper {
  @extend .glabal-margin;
}
.login-content,
.item-content {
  position: relative;
}
.input-search {
  width: 200px;
}
.login-title {
  font-size: 26px;
}
.login-input {
  display: block;
  width: 320px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
}
.icon {
  cursor: pointer;
}
.search-bar {
  position: relative;
  float: left;
  font-size: 16px;
  margin-left: 16%;
}
.user-bar {
  font-size: 16px;
  margin: 10px 60px;
  text-align: right;
}

#item-table {
  background-color: #ffffff;
  margin: 10px auto;
  th:nth-child(1) {
    width: 70px;
  }
  th:nth-child(2) {
    width: 220px;
  }
  th:nth-child(3) {
    width: 100px;
  }
  th:nth-child(4) {
    width: 60px;
  }
  th:nth-child(5) {
    width: 140px;
  }
  th:nth-child(6) {
    width: 60px;
  }
  th:nth-child(7) {
    width: 80px;
  }
  th {
    text-align: center;
    padding: 8px 0px;
  }
  tr > td {
    text-align: center;
    padding: 6px 0px;
    background-color: #ffffff;
  }
}
.ant-table-wrapper {
  width: 70%;
  margin: 10px auto;
}
.ant-table-pagination {
  float: right;
  margin-bottom: 6px;
}
.ant-modal-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.modal-item-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
}
.modal-item-input {
  width: 240px;
}
.modal-item-input:disabled {
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
  opacity: 0.7;
  cursor: default;
}
.modal-item-input:disabled:hover {
  border-color: #ffffff;
}
.search-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
.search-icon:hover:after {
  z-index: 6;
  top: 46px;
  right: -10px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  background-color: $hoverColor;
  color: #ffffff;
}

.search-icon:hover:after {
  width: 40px;
  content: "搜尋";
}
